Package: ws.hbang.writingaletter2
Name: WritingALetter 2
Depends: mobilesubstrate, ws.hbang.writingaletter.agents, firmware (>= 8.0)
Version: 2.0
Architecture: iphoneos-arm
Description: Would you like help?
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Toys
